<md-toolbar layout="row" class="md-primary md-hue-4 " md-whiteframe="4">
  <div class="md-toolbar-tools">
    <md-button
      class="md-icon-button"
      ng-click="toggleLeft()"
      aria-label="Settings"
      hide-gt-md
    >
      <md-icon><i class="material-icons">menu</i></md-icon>
    </md-button>
    <h2 flex md-truncate>User management</h2>
    <div layout="column" layout-align="start end">
      <h1><b layout-padding>{{user.FullNames}}</b></h1>
    </div>
    <md-menu md-menu-origin md-menu-origin>
      <md-button
        ng-mouseenter="$mdMenu.open()"
        class="md-icon-button"
        aria-label="More"
      >
        <md-icon><i class="material-icons">person</i></md-icon>
      </md-button>
      <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
        <md-menu-item
          ><md-button ng-click="LogOut()">Log Out</md-button></md-menu-item
        >
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>

<md-content flex layout="column" class="md-primary" layout-padding>
  <div id="start" layout="column" layout-fill>
    <div layout-padding>{{title}}</div>
    <ul ng-repeat="content in contents">
      <li>{{content}}</li>
    </ul>
  </div>
</md-content>
